@model IEnumerable<DJMatch.Models.Event>

@{
    ViewBag.Title = "Index";
}

<h2>My Events</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">
                Date
            </th>
            <th scope="col">
                Type
            </th>
            <th scope="col">
                Name
            </th>
            <th scope="col">
                Description
            </th>
            <th scope="col">
                DJ's Name
            </th>
            <th scope="col">
                Playlist's Name
            </th>
            <th scope="col">
                User's Name
            </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr onclick="">
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DJ.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Playlist.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Name)
                </td>
                <td>
                    @Html.ActionLink("Playlist Details", "Details", "Playlists", new { id = item.Playlist.ID }, null) 
                </td>
            </tr>
        }
    </tbody>
</table>
