@model IEnumerable<DJMatch.Models.DJ>

@{
    ViewBag.Title = "Index";
}

<h2>Optinal DJs</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">
                Name
            </th>
            <th scope="col">
                Birth Date
            </th>
            <th scope="col">
                Years of Experience
            </th>
            <th scope="col">
                Minimum Price
            </th>
            <th scope="col">
                Maximum Price
            </th>
            <th scope="col">
                Genres
            </th>
            <th scope="col">
                Address
            </th>
            <th scope="col">
                Phone Number
            </th>
            <th scope="col">
                Picture
            </th>
            <th></th>
        </tr>
    </thead>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BirthDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExperienceYears)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriceMin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriceMax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Picture)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.ID }) 
        </td>
    </tr>
}

</table>
