<!DOCTYPE html>
<html>
<head>
    <title>FinDJ</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="729749725873-d5urfih573fgod9ttjmj2i2hlecoc68m.apps.googleusercontent.com">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/Home/app.js" type="text/javascript"></script>
    <script src="~/Scripts/Playlists/playlistService.js" type="text/javascript"></script>
    <script src="~/Scripts/Home/generalService.js" type="text/javascript"></script>
</head> 

<body ng-app="FinDJApp">
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

        <div class="sidenav">
            <a onclick="window.location.href = '/Home/Index'">
                <img class="logo" src="~/Content/Images/FinDJ_logo2.png" />
            </a>
            <a onclick="window.location.href='/Users/UserProfile'">My profile</a>
            <a onclick="window.location.href = '/DJs/Index'">DJs</a>
            <a onclick="window.location.href = '/Events/Index'">My Events</a>
            <a onclick="window.location.href = '/Home/About'">About Us</a>
            <a onclick="window.location.href = '/Home/Contact'">Contact</a>



            <p><a href="/Events/Index">PROFILE</a></p>
            
            <script>
                djApp.config(['$routeProvider', function ($routeProvider) {
                    $routeProvider.when("/Events/Index",
                    {
                        
                        templateUrl: "/Events/Index.cshtml"
                    });
                }]);
                
            </script>


        </div>

    <div class="main" id="renderbody">
        @RenderBody()
    </div>
</body>
</html>